* {
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-image: 
    url(./images/bg-pattern-top.svg), 
    url(images/bg-pattern-bottom.svg);
    background-position: right 45vw bottom 45vh, left 45vw top 45vh;
    background-repeat: no-repeat;
    background-color: #17adb8;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
   
}

#card{
    display: flex;
    flex-direction: column;
    width: 93vw;
    max-width: 420px;
    height: 420px;
    border-radius: 18px;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 3px 1px rgba(28, 28, 28, 0.26);
}

#profile{
    display: flex;
    flex-direction: column;
    height: 77%;
    /* border: solid 1px red; */
}

#top-section{
    background-image: url("images/bg-pattern-card.svg");
    background-repeat: none;
    background-size: cover;
    display: flex;
    position: relative;
   flex-direction: column;
   align-items: center;
    flex-grow: 1;
    border-radius: 18px 18px 0 0 ;
    /* border: solid 1px red; */
}

#bottom-section{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 53%;
   /* border: solid 1px blue; */
   
}

.info{
    align-items: center;
    margin-top: 45px;
    /* border: dashed 1px green; */
}
.info *{
    margin: 7px 4px;
    /* display: flex;border: dashed 1px green; */
}

.name{
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    color: #3a3939;
    text-shadow: 0px 0px 2px #545353;
}
.age{
    display: inline-block;
    color: #8c8c8c;
    font-weight: 400;
    font-size: 18px;
    text-shadow: 0px 0px 2px #7b7a7a;
}
.location{
    display: inline-block;
    color: #858383;
    font-weight: 400;
    text-shadow: 0px 0px 1px #434343;
    text-align: center;
    width: 100%;
    /* border: dashed 1px green; */
}
.portrait{
    position: absolute;
    bottom: -50px;
    border-radius: 50%;
    border: solid 6px white;
    width: 115px;
    background-color: white;
}


#stats{
    display: flex;
    position: relative;

    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    /* border: dashed 1px blue; */
}

.stat-element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65%;
    width: 80px;
    margin: 0 15px;
    /* border: solid 1px blue; */
}


.stat-number{
    font-weight: 700;
    font-size: 18px;
    color: #333232;
    text-shadow: 0px 0px 2px #545353;
    margin: 5px 0;
}
.stat-name{
    color: #918f8f;
    font-weight: 400;
    text-shadow: 0px 0px 1px #292828;
    font-size: 13px;
    letter-spacing: 2px;
}

hr{
    border: none;
    border-top: 1px solid rgba(133, 132, 132, 0.302);
    /* margin: 0px 16px; */
    
}